<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container">
      {{ content }}
      <section>
        <h2 class="category">news</h2>
        <ul class="posts">
          {% for post in collections.news reversed %}
          <li class="post">
            <span class="post-title">
              {% if post.data.externalLink %}
              <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
              {% else %}
              <a href="{{ post.url }}">{{ post.data.title }}</a>
              {% endif %}
            </span>
            <span class="post-date">
              {{ post.date | date: '%b %Y' | downcase }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <h2 class="category">notebooks</h2>
        <ul class="posts">
          {% for post in collections.posts reversed %}
          <li class="post">
            <span class="post-title">
              {% if post.data.externalLink %}
              <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
              {% else %}
              <a href="{{ post.url }}">{{ post.data.title }}</a>
              {% endif %}
            </span>
            <span class="post-date">
              {{ post.date | date: '%b %Y' | downcase }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <h2 class="category">featured publications</h2>
        <ul class="posts">
          {% for post in collections.publications %}
          <li class="post">
            <span class="post-title">
              {% if post.data.externalLink %}
              <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
              {% else %}
              <a href="{{ post.data.url }}">{{ post.data.title }}</a>
              {% endif %}
            </span>
            <span class="post-date">
              {{ post.data.journal }},
              {{ post.data.year }}
            </span>
          </li>
          {% endfor %}
        </ul>
        <p>For a complete list of publications, see
        my <a href="https://github.com/fbkarsdorp/fbkarsdorp.github.com/blob/master/tex/main.pdf",
        target="__blank">CV</a>.</p>
      </section>      
      
    </div>
  </body>
</html>
